<button>
<a href="/places">Click here to go back to all places</a>
</button>

<h1><%= @place.name %></h1>

<h3>Posts</h3>
<ul>
    <% for my_posts in @place.posts %>
        <li>
         <%= my_posts.title %> --- Posted on: <%= my_posts.posted_on %></p>
            <p><%= my_posts.description %></p>
        </li>
    <% end %>
</ul>

<button>
<a href="/posts/new?place_id=<%= @place.id %>">Add New Post</a>
</button>

<br><br>

<button>
<a href="/places">Go Back to All Places</a>
</button>

